:root {
    --light-blue: #add8e6;
    --dark-teal: #2f4f4f;
    --white: #9ca3af;
    --black: #16171d;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    background-color: var(--black);
    scrollbar-gutter: stable;
}