.header {
    width: 100%;
    color: var(--black);
    background-color: var(--light-blue);
}

.nav {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
}

.navLinks {
    display: flex;
    gap: 20px;
    list-style: none;
}