#top-bar-content {
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;

    h4 {
        margin-left: 2ch;
        color: black;
    }
}

#top-bar-box {
    height: 3%;
    width: 100%;
    background-color: lightblue;
    margin-bottom: 5ch;
}