#event-info-box {
    width: 80ch;
    margin: 0 auto;
    padding: 2ch;
    background-color: darkslategray
}

#event-info {
    display: flex;
    justify-content: space-between;
    margin-left: 12ch;
    margin-right: 12ch;

    p, h4 {
        text-align: left;
        margin-left: 0;
    }

    h4 {
        color: black;
    }
}